/* Adding css styles to the homepage and to each recipe page */

/* Below are the css styling for the homepage */

.title-homepage {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 10px solid black;
    margin: 40px 700px 100px 700px;
}

.description {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

img {
    margin: 40px 135px;
    height: 500px;
    width: auto;
    border: 3px solid black;
    border-radius: 10px;
}

.links {
    display: block;
    font-size: 30px;
}

/* End of the css styling for the homepage *