/* Adding css styles with styles.css from ./css/styles.css */

.title-odin-recipe {
    /* font & formation*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    /* border */
    border: black solid 5px;
    border-radius: 10px;
    /* margin & padding */
    margin-left: 700px;
    margin-right: 700px ;
    padding: 15px 60px;
}